langchain==0.2.11
langchain_community==0.2.10
gradio==4.44.0
langgraph==0.1.15
langchain-community==0.2.10 
langchain-experimental==0.0.63
langchain-google-genai
google.ai.generativelanguage
gradio_client
supabase
python-dotenv
